* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 100px auto;
}

.input {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #858694;
  color: #fff;
  font-size: 30px;
  padding: 17px;
  text-align: right;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0.2);
}

.input::placeholder {
  color: #fff;
  display: flex;
}

.parent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #e3dfdf;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0.2);
}

.button {
  background-color: rgba(199, 199, 199, 0.995);
  padding: 20px;
  font-size: 22px;
  text-align: center;
  margin: 1px;
  width: 98px;
  height: 80px;
  border: 0;
}

.button-zero {
  grid-column: 1/3;
  background-color: rgba(199, 199, 199, 0.995);
  border: 0;
}

.button-color {
  background-color: orange;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  margin: 1px;
  width: 98px;
  height: 80px;
  border: 0;
}
