.quoteDiv {
  color: black;
  padding: 20px;
  margin: 100px auto;
  width: 60%;
  border: 2px solid black;
  box-shadow: 1px 2px 15px gray;
  border-radius: 10px;
}

.quote-li {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 25px;
  text-align: center;
}

.p-quote {
  font-size: 20px;
}
